.jumbotron {
    color: aqua;
    font-family: flamenco;
    text-align: center;
    background: rgb(200, 54, 54);
    background: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: flamenco;
    color: white;
    text-size: 40px;
}


    @media only screen and (min-width: 768px) {
        h1{
            font-size: 10px;
        }
        h2 {
            font-size: 70px;
        }
        .nav {
            size: 100% ;
        }

}

h4 {
    font-family: flamenco;
    color: white;
    text-align: center;
}

h5 {
    font-family: flamenco;
    font-size: 20px;
    text-align: center;
}

#gallery {
    text-align: center;
    font-family: monospace;
    color: black;
    color: gray;
}
.row, .row1, .row2, .row3, h1, h3, p{
    color: white;
}

.container {
    text-align: center;
    font-family: flamenco;
    font-size: 20px;
    color: black;
}

address{
    font-family: flamenco;
    font-size: 20px;
    text-align: center;
    color: black;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 70px;

    }
    .nav {
        size: 100%;
    }
}



@media only screen and (min-width: 992px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 80px;
    }
}